<!DOCTYPE html>
<html>
	<head>
		<title>On veut retourner les valeurs d'un tableau</title>
	</head>
	<body>
		{% for entite in listEntites %}
			<p> {{ entite.name }} </p>
		{% endfor %}	
	</body>
</html>